<ion-view>
    <ion-content class="has-header has-footer" overflow-scroll="false">
        <div class="inline padding" ng-repeat="word in pict.customPicts">
            <img class="picto" ng-src="{{ word.pictos[0] }}"/>
            <h4 style="text-align: center;">{{word.value}}</h4>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-positive">
        <div class="buttons" style="margin: auto;">
            <button class="button">Añadir pictograma</button>
        </div>
    </ion-footer-bar>
</ion-view>