<!-- CONTROLLER AS sett -->
<ion-view>
    <ion-content class="has-header" overflow-scroll="false">
        <ion-list>

            <!-- Pictos size configuration -->
            <div class="card">
                <div class="item item-divider" style="text-align: center" translate="sett_pictSize">
                    Tamaño pictograma
                </div>
                <div class="item range">
                    <input type="range"
                           name="pictoSize"
                           min="50"
                           max="200"
                           value="{{ sett.pictoSizeValue }}"
                           ng-model="sett.pictoSizeValue"
                           ng-change="sett.setPictoSizeValue()"
                           style="max-width: 80%; margin:auto;"/>
                </div>
                <div class="item item-divider">
                    <img ng-src="img/logo.png" class="picto" ng-style="sett_pictoStyle">
                </div>
            </div>
            <!-- End -->

            <!-- Font size configuration -->
            <div class="card">
                <div class="item item-divider" style="text-align: center" translate="sett_fontSize">
                    Tamaño de letra
                </div>
                <div class="item range">
                    <input type="range"
                           name="fontSize"
                           min="12"
                           max="40"
                           value="{{ sett.fontSizeValue }}"
                           ng-model="sett.fontSizeValue"
                           ng-change="sett.setFontSizeValue()"
                           style="max-width: 80%; margin:auto;"/>
                </div>
                <div class="item item-divider">
                    <h3 ng-style="sett.fontStyle" style="text-align: center;">AraWord</h3>
                </div>
            </div>
            <!-- End -->

            <!-- Gray scale configuration -->
            <div class="card">
                <div class="item item-divider" style="text-align: center" translate="sett_grayScale">
                    Escala de grises
                </div>
                <div class="item range">
                    <input type="range"
                           name="grayScale"
                           min="0"
                           max="100"
                           ng-model="sett.grayValue"
                           ng-change="sett.setGrayValue()"
                           style="max-width: 80%; margin:auto;"/>
                </div>
                <div class="item item-divider" ng-show="sett.grayValue">
                    <img ng-src="img/logo.png" class="picto" ng-style="sett.grayStyle">
                </div>
            </div>
            <!-- End -->

            <!-- Borders configuration enabled/disabled -->
            <div class="item item-toggle" >
                <p translate="sett_borders">Bordes de colores</p>
                <label class="toggle toggle-dark">
                    <input type="checkbox" ng-model="sett.bordersValue">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <!-- End -->

            <!-- Pictos position (relative to text) configuration top/bot -->
            <div class="item item-toggle">
                <p translate="sett_position">Texto debajo</p>
                <label class="toggle toggle-dark">
                    <input type="checkbox" ng-model="sett.wordPosition">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <!-- End -->

        </ion-list>

        <div style="text-align: center; padding: 2%">
            <button class="button button-dark"
                    style="margin: 1%"
                    ng-click="sett.saveConfig()"
                    translate="sett_button_save">
                Guardar por defecto
            </button>
        </div>

    </ion-content>
</ion-view>