<!-- CONTROLLER AS sett -->
<ion-view>

    <ion-nav-buttons side="right">
        <button class="button button-icon ion-volume-high" ng-disabled="true"></button>
        <button class="button button-icon ion-android-share-alt posit" ng-disabled="true"></button>
        <button ng-controller='navController as nav'
                class="button button-icon ion-navicon"
                style="padding-left: 17px; padding-right: 10px"
                ng-click="nav.showMenu($event)"></button>
    </ion-nav-buttons>

    <ion-content class="has-header" overflow-scroll="false" style="display: block">

        <ion-list>
            <label class="item item-input item-select">
                <div class="input-label" translate="sett_langConf">
                    Language
                </div>
                <select>
                    <option>en</option>
                    <option selected>es</option>
                    <option>cat</option>
                </select>
            </label>
        </ion-list>

        <!-- Picto preview -->
        <div class="card" style="float: left; height: 100%">
            <div class="item item-divider" style="text-align: center">
                Pictograph preview
            </div>
            <div style="float: left; margin: 50px; text-align: center;" class="item padding"
                 ng-style="sett.modifiedConfig['borders'] && {'border': '4px solid yellow'} || {}">
                <span  ng-style="sett.fontStyle" ng-hide="sett.modifiedConfig['position']">AraWord</span>
                <img ng-style="sett.pictoStyle" class="picto padding" src="img/logo.png"/>
                <span  ng-style="sett.fontStyle" ng-hide="!sett.modifiedConfig['position']">AraWord</span>
            </div>
        </div>



        <ion-list>
            <!-- Pictos size configuration -->
            <div class="card">
                <div class="item item-divider" style="text-align: center" translate="sett_pictSize">
                    Tamaño pictograma
                </div>
                <div class="item range">
                    <input type="range"
                           name="pictoSize"
                           min="50"
                           max="200"
                           value="{{ sett.pictoSize }}"
                           ng-model="sett.modifiedConfig['pictoSize']"
                           style="max-width: 80%; margin:auto;"
                           ng-change="sett.updateStyles()"/>
                </div>

            </div>
            <!-- End -->

            <!-- Font size configuration -->
            <div class="card">
                <div class="item item-divider" style="text-align: center" translate="sett_fontSize">
                    Tamaño de letra
                </div>
                <div class="item range">
                    <input type="range"
                           name="fontSize"
                           min="12"
                           max="40"
                           value="{{ sett.fontSize }}"
                           ng-model="sett.modifiedConfig['fontSize']"
                           style="max-width: 80%; margin:auto;"
                           ng-change="sett.updateStyles()"/>
                </div>

            </div>
            <!-- End -->

            <!-- Gray scale configuration -->
            <div class="card">
                <div class="item item-divider" style="text-align: center" translate="sett_grayScale">
                    Escala de grises
                </div>
                <div class="item range">
                    <input type="range"
                           name="grayScale"
                           min="0"
                           max="100"
                           ng-model="sett.modifiedConfig['grayScale']"
                           style="max-width: 80%; margin:auto;"
                           ng-change="sett.updateStyles()"/>
                </div>

            </div>
            <!-- End -->

            <!-- Borders configuration enabled/disabled -->
            <div class="item item-toggle" >
                <p translate="sett_borders">Bordes de colores</p>
                <label class="toggle toggle-dark">
                    <input type="checkbox" ng-model="sett.modifiedConfig['borders']">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <!-- End -->

            <!-- Pictos position (relative to text) configuration top/bot -->
            <div class="item item-toggle last">
                <p translate="sett_position">Texto debajo</p>
                <label class="toggle toggle-dark">
                    <input type="checkbox" ng-model="sett.modifiedConfig['position']">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>

            <div class="card">
                <div class="item item-divider" style="text-align: center" translate="sett_bordersConf">
                    Borders configuration
                </div>
                <div class="item">
                    <ion-list style="width:50%; float: left">
                        <div class="item item-button-right" ng-repeat="color in sett.modifiedConfig['typeColors'].slice(0,3)">
                            <span translate="{{'sett_'+color.type}}">{{color.text}}</span>
                            <button
                                    class="button item-button"
                                    ng-style="{'background-color': color.color };"
                                    style="border: 1px solid gray;"
                                    ng-click="sett.showColorBar($event, color)">
                            </button>
                        </div>
                    </ion-list>
                    <ion-list style="width:50%; float:right">
                        <div class="item item-button-right" ng-repeat="color in sett.modifiedConfig['typeColors'].slice(3)" >
                            <span translate="{{'sett_'+color.type}}">{{color.text}}</span>
                            <button
                                    class="button item-button"
                                    ng-style="{'background-color': color.color };"
                                    style="border: 1px solid gray;"
                                    ng-click="sett.showColorBar($event, color)">
                            </button>
                        </div>
                    </ion-list>
                </div>
            </div>
            <!-- End -->

        </ion-list>

        <div style="text-align: center; padding: 2%">
            <button class="button button-dark"
                    style="margin: 1%"
                    ng-click="sett.saveConfig()"
                    translate="sett_button_save"
                    ui-sref="text">
                Guardar por defecto
            </button>
        </div>

    </ion-content>
</ion-view>