<ion-view>
    <ion-content class="has-header" overflow-scroll="false">
        <ion-list>

            <!-- Gray scale configuration -->
            <div class="card">
                <div class="item item-divider" style="text-align: center">
                    Escala de grises
                </div>
                <div class="item range">
                    <input type="range"
                           name="grayScale"
                           min="0"
                           max="100"
                           ng-model="sett.grayValue"
                           ng-change="sett.setGrayValue()"
                           style="max-width: 80%; margin:auto;"/>
                </div>
                <div class="item item-divider" ng-show="sett.grayValue">
                    <img ng-src="img/logo.png" class="picto" ng-style="sett.grayStyle">
                </div>
            </div>
            <!-- End -->

            <!-- Pictos size configuration -->
            <div class="card">
                <div class="item item-divider" style="text-align: center">
                    Tamaño pictograma
                </div>
                <div class="item range">
                    <input type="range"
                           name="pictoSize"
                           min="50"
                           max="200"
                           value="{{ sett.pictoSizeValue }}"
                           ng-model="sett.pictoSizeValue"
                           ng-change="sett.setPictoSizeValue()"
                           style="max-width: 80%; margin:auto;"/>
                </div>
                <div class="item item-divider">
                    <img ng-src="img/logo.png" class="picto" ng-style="sett.pictoStyle">
                </div>
            </div>
            <!-- End -->

            <!-- Font size configuration -->
            <div class="card">
                <div class="item item-divider" style="text-align: center">
                    Tamaño de letra
                </div>
                <div class="item range">
                    <input type="range"
                           name="fontSize"
                           min="12"
                           max="40"
                           value="{{ sett.fontSizeValue }}"
                           ng-model="sett.fontSizeValue"
                           ng-change="sett.setFontSizeValue()"
                           style="max-width: 80%; margin:auto;"/>
                </div>
                <div class="item item-divider">
                    <h3 ng-style="sett.fontStyle" style="text-align: center;">AraWord</h3>
                </div>
            </div>
            <!-- End -->

        </ion-list>

        <div style="text-align: center; padding: 2%">
            <button class="button button-positive" style="margin: 1%">
                Guardar por defecto
            </button>
            <button class="button button-positive" style="margin:1%">
                Nuevo perfil
            </button>
        </div>

    </ion-content>
</ion-view>