<!-- CONTROLLER AS text -->
<ion-view class="visible">

    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="text.newDocument()"><i class="icon ion-compose"></i></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-icon" ng-click="text.sendDocument()"
                ng-disabled="!text.acc.send && !text.acc.permissions['toSend']"><i class="icon ion-paper-airplane"></i></button>
        <button class="button button-icon" ng-click="text.readText()"
                ng-disabled="!text.conf.configuration.docLang.locale || ( !text.acc.logged && !text.acc.permissions['toSpeech'] )"><i class="icon ion-volume-high"></i></button>
        <button class="button button-icon  posit" ng-click="text.shareText()"
                ng-disabled="!text.acc.logged && !text.acc.permissions['toShare']"><i class="icon ion-android-share-alt"></i></button>
        <button ng-controller='navController as nav'
                class="button button-icon "
                style="padding-left: 17px; padding-right: 10px"
                ng-click="nav.showMenu($event)"><i class="icon ion-navicon"></i></button>
    </ion-nav-buttons>


    <ion-content class="has-header visible" overflow-scroll="false" ng-style="text.conf.styles['fontStyle']" delegate-handle="content">

        <div class="visible" id="text" style="display: inline-block;">

            <div class="inline padding" ng-repeat="word in text.myText"
                 ng-style="text.conf.configuration.borders? {'border': '4px solid ' + text.conf.configuration.typeColors[word.pictos[word.pictInd].type].color} :{};"
                 style="margin: 5px; max-width: 300px;"
                 unbindable>

                <!-- Text can appear on top -->
                <input type="text"
                       ng-change="text.onChange(word)"
                       ng-keyup="text.onKeyUp($event,word)"
                       ng-model="word.value"
                       ng-model-options="{ debounce: { default:1000, blur:0 } }"
                       focus="{{ word.autofocus }}"
                       pu-elastic-input
                       ng-if="!text.conf.configuration['position']"
                       class="word"
                       ng-style="text.conf.styles['inputStyle']"
                       style="font-size: inherit;"
                       single
                       autocapitalize="off" />

                <img class="picto"
                     data-ng-src="{{  word.pictos[word.pictInd]['base64'] || text.readPicto(word.pictos[word.pictInd]) }}"
                     ng-style="text.conf.styles['pictoStyle']"
                     ng-click="text.singleClickAction(word)"
                     on-hold="text.showOptions(word)"/>

                <!-- or bot -->
                <input type="text"
                       ng-change="text.onChange(word)"
                       ng-keyup="text.onKeyUp($event,word)"
                       ng-model="word.value"
                       ng-model-options="{ debounce: { default:1000, blur:0 } }"
                       focus="{{ word.autofocus }}"
                       pu-elastic-input
                       ng-if="text.conf.configuration['position']"
                       class="word"
                       ng-style="text.conf.styles['inputStyle']"
                       style="font-size: inherit;"
                       single
                       autocapitalize="off" />
            </div>
        </div>
    </ion-content>

</ion-view>