<div class="list">
    <label class="item item-input item-select">
        <span translate="spl_lang">Language</span>
        <select  ng-model='splash.langSelect.selected'
                ng-options="lang.name for lang in splash.langSelect.langs">
        </select>
    </label>
    <label class="item item-input item-select">
        <span translate="spl_fverbs">Formed verbs</span>
        <select multiple ng-model='splash.verbsSelect.selected'
                ng-options="lang.name for lang in splash.verbsSelect.langs">
        </select>
    </label>
    <input class="item item-input" style="margin-top: 4px" placeholder="Password" type="password"
           ng-model="splash.pass"/>
</div>

