<div class="list">
    <label class="item item-input item-select">
        <span translate="spl_lang">Language</span>
        <select  ng-model='splash.langSelect.selected'
                ng-options="lang.name for lang in splash.langSelect.langs">
        </select>
    </label>
    <label class="item item-input item-select">
        <span translate="spl_fverbs">Formed verbs</span>
        <select multiple ng-model='splash.verbsSelect.selected'
                ng-options="lang.name for lang in splash.verbsSelect.langs">
        </select>
    </label>
    <input class="item item-input" style="margin-top: 4px" placeholder="{{splash.placeholder}}" type="password"
           ng-model="splash.pass"/>
    <input class="item item-input" style="margin-top: 4px" placeholder="{{splash.replaceholder}}" type="password"
           ng-model="splash.repass"/>
    <p ng-if="!splash.pass" translate="spl_passMsg"
       style="color:tomato; text-align: center; margin-top: 4px">Configure a password to continue.</p>
</div>

