<div class="list">
    <label class="item item-input">
        <input type="text" ng-model="nav.newPict.word" placeholder="Word"/>
    </label>
    <label class="item item-input item-select">
        <div class="input-label">
            Type
        </div>
        <select ng-model="nav.newPict.type">
            <option value="0" translate="sett_nombreComun" >Name</option>
            <option value="1" translate="sett_descriptivo">Descriptive</option>
            <option value="2" translate="sett_verbo">Verb</option>
            <option value="3" translate="sett_miscelanea" ng-selected="true">Miscelanea</option>
            <option value="4" translate="sett_nombrePropio">Own Name</option>
            <option value="5" translate="sett_contenidoSocial">Social Content</option>
        </select>
    </label>
    <button class="item button button-block button-positive button-outline" type="file"
            ng-click="nav.pickImage()" translate="pu_choosepict">Choose picto</button>
</div>