<ion-popover-view  style="width: auto;">
        <div class="list button-list drop">
            <button class="button button-icon button-full"
                    style="margin-top: 1px"
                    ng-click="nav.showSubMenu()"><i class="icon ion-gear-a"></i></button>
            <button class="button button-icon button-full" ng-click="nav.saveDoc()" ng-disabled="!nav.acc.logged && !nav.acc.permissions['toSave']"><i class="icon ion-archive"></i></button>
            <button class="button button-icon button-full" ng-click="nav.loadDoc()" ng-disabled="!nav.acc.logged && !nav.acc.permissions['toLoad']"><i class="icon ion-folder"></i></button>
            <button class="button button-icon button-full" ng-click="nav.newPicto()" ng-disabled="!nav.acc.logged && !nav.acc.permissions['toAdd']"><i class="icon ion-plus-round"></i></button>
            <button class="button button-icon button-full" ng-click="nav.help()"><i class="icon ion-help"></i></button>
        </div>
</ion-popover-view>