/* Empty. Add your own CSS if you like */
.picto {
    width:100px;
    height: auto;
    display: block;
    margin: auto;
}

.word {
    min-width: 100px;
    margin: auto;
    text-align: center;
}
