/* Empty. Add your own CSS if you like */
.picto {
    width:100px;
    height: auto;
    display: block;
    margin: auto;
}

.word {
    min-width: 100px;
    margin: auto;
    text-align: center;
    font-size: inherit !important;
}

.drop .button .icon:before {
    font-size: 50px !important;
}

.bigger {
    height: 55px !important;
}

.bigger .button {
    height: 50px !important;
}

.bigger .button .icon:before {
    font-size: 50px !important;
}

.bigger .title {
    line-height: 55px !important;
}

.has-header {
    top: 55px !important;
}

.visible {
    overflow: visible !important;
}

